extends layout

block content
    .container.main
        form#startCrawlingForm(novalidate)
            .form-row.align-items-center
                .col-auto
                    input#inputBeginIndex.form-control(type='number' placeholder='Begin index' required)
                    .invalid-feedback This field must be a number
                .col-auto
                    input#inputEndIndex.form-control(type='number' placeholder='End index' required)
                    .invalid-feedback This field must be a number
                .col-auto
                    button.btn.btn-primary(type='submit') Start crawling

        form#startUpdatingForm.mt-4(novalidate)
            .form-row.align-items-center
                .col-auto
                    input#inputErrorsToStop.form-control(type='number' placeholder='# of errors to stop' required)
                    .invalid-feedback This field must be a number
                .col-auto
                    button.btn.btn-primary(type='submit') Start updating

        button.btn.btn-danger.btn-block.mt-5(data-toggle="modal" data-target="#modal" data-title='Reset Recipes' data-message='Are you sure you want to delete all stored recipes?' data-function='deleteRecipe') reset recipes
        button.btn.btn-danger.btn-block.mt-3(data-toggle="modal" data-target="#modal" data-title='Reset Index' data-message='Are you sure you want to delete stored indexes for crawling?' data-function='resetIndex') reset all index