#notify_message {
  position: fixed;
  display: none;
  z-index: 9999;
  padding-top: 10px;
  height: 50px;
  bottom: 0px;
  width: 100%;
  text-align: center;
  font-size: 22px;
}

#navBar{
  margin-top: 1rem;
}

.scroll_spy_body {
  position: relative;
}

ul.nav-pills {
  top: 20px;
  position: fixed;
}

#userInfo{
  margin-top: 20px;
}