#notify_message {
  position: fixed;
  display: none;
  z-index: 9999;
  padding-top: 10px;
  height: 50px;
  bottom: 0px;
  width: 100%;
  text-align: center;
  font-size: 22px;
}

.scroll_spy_body {
  position: relative;
}

ul.nav-pills {
  position: -webkit-sticky;
  position: sticky;
  top:0;
  padding-top:20px;
  height: 100vh;
}

#navBar{
  background-color: white;
}

#navList{
  top: -1rem;
  position : fixed;
  margin-top: 41px;
  padding-top:20px
}

.main{
  margin-top: 41px;
  padding-top: 20px;
}